@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulseSlower {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse-slower {
  animation: pulseSlower 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes bounceSlower {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0.3, 0, 0.1, 1);
  }
}
.animate-bounce-slower {
  animation: bounceSlower 2s infinite;
}
